{% extends "layout.html" %}
{% block title %}Saba Letters{% endblock %}
{% block head %}
<style>

</style>
{% endblock %}
{% block body %}
<h2>Saba Letters</h2>
<div id="timeline"></div>
<div class="row-fluid">
  <div class="span8">
    <p class="lead">
      My grandparents emigrated to Palestine in the mid thirties from different cities in Poland. They met there and started a life together in a new land. Between 1935 and 1941 they received letters from their families in Europe, and from each other. This archive of letters is dedicated to their memory.
    </p>
    <p>
      - <a href="https://twitter.com/Hoffrocket" target="_new">Jon Hoffman</a>
    </p>
  </div>
  <div class="span4">
    
  </div>
</div>

{% endblock %}
{% block foot %}
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="timeline.js"></script>
<script>
  $(function(){
    $('a').tooltip();
  });
</script>
{% endblock %}