{% extends "layout.html" %}
{% block title %}Saba Letters{% endblock %}
{% block head %}

{% endblock %}
{% block body %}
<h1><a href="index.html">Saba Letters</a></h1>
<div id="timeline"></div>


{% if image %}
  <div class="row-fluid">
    <div class="span7">
      <h3>{{ date }}</h3>
      {{ letter }}
    </div>
    <div class="span5">
      <br/>
      <img src="letter-img/{{image}}" alt="Letter from {{date}}"/>
    </div>
  </div>
{% else %}
  <h3>{{ date }}</h3>
  {{ letter }}
{% endif %}
{% endblock %}
{% block foot %}
<script>
  $(function(){
    $('a').tooltip();
  });
</script>
{% endblock %}