{% extends "layout.html" %}
{% block title %}Saba Letters{% endblock %}
{% block head %}

{% endblock %}
{% block body %}
<h2><a href="index.html">Saba Letters</a></h2>
<div id="timeline"></div>
{% if image %}
  <div class="row-fluid">
    <div class="span7">
      <p class="lead"><strong>{{ date }}</strong></p>
      {{ letter }}
    </div>
    <div class="span5">
      <a href="#" data-toggle="modal" data-target="#imageModal">
        <img class="img-rounded" src="static/letter-img/{{image}}" alt="Letter from {{date}}"/>
      </a>
      <div id="imageModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <img class="img-polaroid" src="static/letter-img/{{image}}" alt="Letter from {{date}}" data-dismiss="modal" aria-hidden="true"/>
      </div>
    </div>
  </div>
{% else %}
  <h3>{{ date }}</h3>
  {{ letter }}
{% endif %}
  <div class="row-fluid">
    <div class="span6">
      {% if previous %}
        <a href="{{previous}}">Previous Letter</a>
      {% endif %}
    </div>
    <div class="span6">
      {% if next %}
        <p class="text-right"><a href="{{next}}">Next Letter</a></p>
      {% endif %}
    </div>
{% endblock %}
{% block foot %}
{% endblock %}