{% extends "layout.html" %}
{% block title %}Saba Letters{% endblock %}
{% block head %}
<style>
  #timeline {
    background-color: white;
  }
  .point {
    fill: steelblue;
    stroke: white;
  }
</style>
{% endblock %}
{% block body %}
<h1>Saba Letters</h1>
<div id="timeline"></div>


{% if image %}
  <div class="row-fluid">
    <div class="span7">
      <h3>{{ date }}</h3>
      {{ letter }}
    </div>
    <div class="span5">
      <br/>
      <img src="letter-img/{{image}}" alt="Letter from {{date}}"/>
    </div>
  </div>
{% else %}
  <h3>{{ date }}</h3>
  {{ letter }}
{% endif %}
{% endblock %}
{% block foot %}
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="timeline.js"></script>
<script>
  $(function(){
    $('a').tooltip();
  });
</script>
{% endblock %}